In [ ]:
d1 = [1, 2, 3]
d2 = [1, 2, 3]
id(d1) == id(d2)
d1 is d2

False

In [3]:
d1 = [1, 2, 3]
d2 = [1, 2, 3]
d1 == d2

True

In [5]:
data = [1, 2, 3, 4]
del(data[0])
data

[2, 3, 4]

In [7]:
data = [4, 3, 2, 1]
data.remove(2)
data

[4, 3, 1]

In [1]:
1 + 2

3

In [2]:
'1' + '2'

'12'

In [ ]:
#'1' + 2

TypeError: can only concatenate str (not "int") to str

In [4]:
int('1') + 2

3