In [3]:
lst = [1, 2, 3]
lst2 = list(range(5))
print(f'lst2 = {lst2}')
lst2[0] = 9     # 가능

tup = (1, 2, 3)
tup2 = tuple(range(5))
print(f'tup2 = {tup2}')
#tup2[0] = 9     # 불가능('tuple' object does not support item assignment)

lst2 = [0, 1, 2, 3, 4]
tup2 = (0, 1, 2, 3, 4)

In [7]:
tup2 = 1,
print(type(tup2))
n = 1
print(type(n))
lst = [1, 2, 3]
print(type(lst))
tup3 = 1, 2, 3      # packing
print(type(tup3))
print(f'tup3 = {tup3}')

<class 'tuple'>
<class 'int'>
<class 'list'>
<class 'tuple'>
tup3 = (1, 2, 3)

In [9]:
tup1 = tuple([1, 2, 3])
tup2 = tuple({1, 2, 3})
tup3 = tuple((1, 2, 3))
print(f'{tup1}, {tup2}, {tup3}')

(1, 2, 3), (1, 2, 3), (1, 2, 3)

In [ ]:
tup4 = divmod(13, 3)    # 첫 번째 인수를 두 번째 인수로 나눈 몫과 나머지를 튜플로 생성
print(f'tup4 = {tup4}')

div, mod = divmod(13, 3)    # unpack
print(f'div = {div}, mod = {mod}')

tup4 = (4, 1)
div = 4, mod = 1

In [16]:
lst = [1, 2, 3]
print(f'lst = {lst}')
print(f'id = {id(lst)}')
lst += [4, 5]
print(f'lst = {lst}')
print(f'id = {id(lst)}')        # 리스트는 누적 대입 후 제자리 연산으로 아이덴티티가 바뀌지 않음

print('------------------------------')

tpl = (1, 2, 3)
print(f'tpl = {tpl}')
print(f'id = {id(tpl)}')
tpl += (4, 5)
print(f'tpl = {tpl}')
print(f'id = {id(tpl)}')        # 튜플은 아이덴티티가 바뀌며 누적 대입으로 새로운 튜플이 생성됨

lst = [1, 2, 3]
id = 3048613640640
lst = [1, 2, 3, 4, 5]
id = 3048613640640
------------------------------
tpl = (1, 2, 3)
id = 3048613447696
tpl = (1, 2, 3, 4, 5)
id = 3048602300000

In [18]:
x = (1, 3, 2)
print(f'x = {x}')
print(f'id = {id(x)}')
x = tuple(sorted(x))            # sorted 함수로 정렬한 것을 리스트로 생성
print(f'x = {x}')               # 생성된 리스트를 튜플로 변환
print(f'id = {id(x)}')

x = (1, 3, 2)
id = 3048613069744
x = (1, 2, 3)
id = 3048613315584

In [19]:
tpl1 = (1, 2, 3, 4, 5)
tpl2 = tuple(tpl1)
print(f'tpl1 = {tpl1}')
print(f'tpl2 = {tpl2}')
print(f'tpl1id = {id(tpl1)}')
print(f'tpl2id = {id(tpl2)}')

tpl1 = (1, 2, 3, 4, 5)
tpl2 = (1, 2, 3, 4, 5)
tpl1id = 3048612653728
tpl2id = 3048612653728

In [26]:
tpl4 = 1, 2, 3, 4       # pack
print(f'tpl4 = {tpl4}')
a, b, c, d = tpl4       # unpack
print(f'a:{a}, b:{b}, c:{c}, d:{d}')
e, _, f, _ = tpl4       # pack을 먼저 하고 unpack
print(f'e:{e}, f:{f}')
e, f = f, e             # 값의 교환에도 튜플 사용(f, e를 평가 -> 그 값을 갖는 튜플 생성 -> 만들어진 튜플 언팩 -> 차례로 e, f에 대입)
print(f'e:{e}, f:{f}')

tpl4 = (1, 2, 3, 4)
a:1, b:2, c:3, d:4
e:1, f:3
e:3, f:1