In [3]:
lst = [1, 2, 3]
lst2 = list(range(5))
print(f'lst2 = {lst2}')
lst2[0] = 9     # 가능

tup = (1, 2, 3)
tup2 = tuple(range(5))
print(f'tup2 = {tup2}')
#tup2[0] = 9     # 불가능('tuple' object does not support item assignment)

lst2 = [0, 1, 2, 3, 4]
tup2 = (0, 1, 2, 3, 4)

In [7]:
tup2 = 1,
print(type(tup2))
n = 1
print(type(n))
lst = [1, 2, 3]
print(type(lst))
tup3 = 1, 2, 3      # packing
print(type(tup3))
print(f'tup3 = {tup3}')

<class 'tuple'>
<class 'int'>
<class 'list'>
<class 'tuple'>
tup3 = (1, 2, 3)

In [9]:
tup1 = tuple([1, 2, 3])
tup2 = tuple({1, 2, 3})
tup3 = tuple((1, 2, 3))
print(f'{tup1}, {tup2}, {tup3}')

(1, 2, 3), (1, 2, 3), (1, 2, 3)

In [ ]:
tup4 = divmod(13, 3)    # 첫 번째 인수를 두 번째 인수로 나눈 몫과 나머지를 튜플로 생성
print(f'tup4 = {tup4}')

div, mod = divmod(13, 3)    # unpack
print(f'div = {div}, mod = {mod}')

tup4 = (4, 1)
div = 4, mod = 1

In [16]:
lst = [1, 2, 3]
print(f'lst = {lst}')
print(f'id = {id(lst)}')
lst += [4, 5]
print(f'lst = {lst}')
print(f'id = {id(lst)}')        # 리스트는 누적 대입 후 제자리 연산으로 아이덴티티가 바뀌지 않음

print('------------------------------')

tpl = (1, 2, 3)
print(f'tpl = {tpl}')
print(f'id = {id(tpl)}')
tpl += (4, 5)
print(f'tpl = {tpl}')
print(f'id = {id(tpl)}')        # 튜플은 아이덴티티가 바뀌며 누적 대입으로 새로운 튜플이 생성됨

lst = [1, 2, 3]
id = 3048613640640
lst = [1, 2, 3, 4, 5]
id = 3048613640640
------------------------------
tpl = (1, 2, 3)
id = 3048613447696
tpl = (1, 2, 3, 4, 5)
id = 3048602300000

In [18]:
x = (1, 3, 2)
print(f'x = {x}')
print(f'id = {id(x)}')
x = tuple(sorted(x))            # sorted 함수로 정렬한 것을 리스트로 생성
print(f'x = {x}')               # 생성된 리스트를 튜플로 변환
print(f'id = {id(x)}')

x = (1, 3, 2)
id = 3048613069744
x = (1, 2, 3)
id = 3048613315584

In [19]:
tpl1 = (1, 2, 3, 4, 5)
tpl2 = tuple(tpl1)
print(f'tpl1 = {tpl1}')
print(f'tpl2 = {tpl2}')
print(f'tpl1id = {id(tpl1)}')
print(f'tpl2id = {id(tpl2)}')

tpl1 = (1, 2, 3, 4, 5)
tpl2 = (1, 2, 3, 4, 5)
tpl1id = 3048612653728
tpl2id = 3048612653728

In [ ]:
tpl4 = 1, 2, 3, 4       # pack
print(f'tpl4 = {tpl4}')
a, b, c, d = tpl4       # unpack
print(f'a:{a}, b:{b}, c:{c}, d:{d}')
e, _, f, _ = tpl4       # pack을 먼저 하고 unpack
print(f'e:{e}, f:{f}')
e, f = f, e             # 값의 교환에도 튜플 사용(f, e를 평가 -> 그 값을 갖는 튜플 생성 -> 만들어진 튜플 언팩 -> 차례로 e, f에 대입)
print(f'e:{e}, f:{f}')
x, _, *y = tpl4         # *를 사용해 unpack을 리스트로 추출(최대 1개까지 적용)
print(f'x:{x}, y:{y}')

tpl4 = (1, 2, 3, 4)
a:1, b:2, c:3, d:4
e:1, f:3
e:3, f:1
x:1, y:[3, 4]

In [ ]:
s = 'abcde'
for i, ch in enumerate(s):      # 이터러블 객체에서 인덱스와 요소의 쌍으로 pack한 튜플을 추출
    print(f's[{i}] = {ch}')     # 추출된 튜플은 unpack되어 두 변수에 대입

s[0] = a
s[1] = b
s[2] = c
s[3] = d
s[4] = e

In [11]:
x = ['john', 'george', 'paul', 'ringo']
for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = john
x[1] = george
x[2] = paul
x[3] = ringo

In [ ]:
# 튜플 리스트(모든 요소가 튜플인 리스트)

students = [
    (2012, '김서준'),
    (2013, '이서아'),
    (2011, '최하준'),
]

print('students =', students)
print('students[0]    =', students[0])
print('students[1]    =', students[1])
print('students[2]    =', students[2])
print('students[0][0] =', students[0][0])
print('students[0][1] =', students[0][1])
print('students[1][0] =', students[1][0])
print('students[1][1] =', students[1][1])
print('students[2][0] =', students[2][0])
print('students[2][1] =', students[2][1])

students = [(2012, '김서준'), (2013, '이서아'), (2011, '최하준')]
students[0]    = (2012, '김서준')
students[1]    = (2013, '이서아')
students[2]    = (2011, '최하준')
students[0][0] = 2012
students[0][1] = 김서준
students[1][0] = 2013
students[1][1] = 이서아
students[2][0] = 2011
students[2][1] = 최하준

튜플도 리스트와 동일하게 인덱스 연산자 []를 두 번 적용한 인덱스식을 사용

In [20]:
p1 = [1, 2, 3, 4]
p2 = [100, 200, 300, 400]
name = ['a', 'b', 'c', 'd']
z = zip(p1, p2)
print(f'z = {z}')
print(f'z = {list(z)}')
pt = tuple(zip(p1, p2, name))
print(f'pt = {pt}')

z = <zip object at 0x000001CB48891D80>
z = [(1, 100), (2, 200), (3, 300), (4, 400)]
pt = ((1, 100, 'a'), (2, 200, 'b'), (3, 300, 'c'), (4, 400, 'd'))

In [15]:
num = range(6)
print(f'num = {num}')
print(f'num = {list(num)}')

num = range(0, 6)
num = [0, 1, 2, 3, 4, 5]

list() 함수 사용해야 iterable 객체를 튜플로 생성